-- MySQL dump 10.13  Distrib 8.4.1, for Win64 (x86_64)
--
-- Host: localhost    Database: BIBLIOTECA
-- ------------------------------------------------------
-- Server version	8.4.1

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `autor`
--

DROP TABLE IF EXISTS `autor`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `autor` (
  `ID` int NOT NULL AUTO_INCREMENT,
  `NOME` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`ID`)
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `autor`
--

LOCK TABLES `autor` WRITE;
/*!40000 ALTER TABLE `autor` DISABLE KEYS */;
INSERT INTO `autor` VALUES (1,'J. K. Rowling'),(2,'J. R. R. Tolkien'),(3,'Stephen King'),(4,'George Orwell'),(5,'George R. R. Martin'),(6,'Rick Riordan'),(7,'George Lucas'),(8,'E. L. James'),(9,'Machado de Assis'),(10,'William Shakespeare'),(11,'Mark Twain'),(12,'Machado de Assis');
/*!40000 ALTER TABLE `autor` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `emprestimos`
--

DROP TABLE IF EXISTS `emprestimos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `emprestimos` (
  `ID` int NOT NULL AUTO_INCREMENT,
  `USUARIOS_ID` int NOT NULL,
  `LIVROS_ID` int NOT NULL,
  `DATA_EMPRESTIMO` date NOT NULL,
  `DATA_RETORNO` date DEFAULT NULL,
  `DATA_STATUS` date DEFAULT NULL,
  `VALOR_TOTAL` decimal(10,2) DEFAULT NULL,
  `VALOR_PAGO` decimal(10,2) DEFAULT NULL,
  `MULTA` decimal(10,2) DEFAULT NULL,
  PRIMARY KEY (`ID`),
  KEY `fk_EMPRESTIMOS_USUARIOS1_idx` (`USUARIOS_ID`),
  KEY `fk_EMPRESTIMOS_LIVROS1_idx` (`LIVROS_ID`),
  CONSTRAINT `fk_EMPRESTIMOS_LIVROS1` FOREIGN KEY (`LIVROS_ID`) REFERENCES `livros` (`ID`),
  CONSTRAINT `fk_EMPRESTIMOS_USUARIOS1` FOREIGN KEY (`USUARIOS_ID`) REFERENCES `usuarios` (`ID`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `emprestimos`
--

LOCK TABLES `emprestimos` WRITE;
/*!40000 ALTER TABLE `emprestimos` DISABLE KEYS */;
INSERT INTO `emprestimos` VALUES (1,2,3,'2024-07-17','2024-07-21','2024-07-17',20.00,0.00,0.00),(2,1,2,'2024-07-17','2024-07-21','2024-07-17',21.00,0.00,0.00),(3,3,7,'2024-07-17','2024-07-24','2024-07-17',25.00,0.00,0.00),(4,2,4,'2024-07-18','2024-07-30','2024-07-18',25.00,0.00,0.00),(5,3,13,'2024-07-19','2024-08-02','2024-07-19',35.00,0.00,0.00),(6,5,11,'2024-07-19','2024-07-02','2024-07-19',30.00,0.00,0.00),(7,1,12,'2024-07-19','2024-08-03','2024-07-19',45.00,0.00,0.00),(8,4,1,'2024-07-19','2024-08-05','2024-07-19',50.00,0.00,0.00);
/*!40000 ALTER TABLE `emprestimos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `livros`
--

DROP TABLE IF EXISTS `livros`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `livros` (
  `ID` int NOT NULL AUTO_INCREMENT,
  `TIPO_LITERARIO` varchar(100) NOT NULL,
  `TITULO` varchar(45) NOT NULL,
  `AUTOR_ID` int NOT NULL,
  `ANO` int NOT NULL,
  `STATUS` tinyint unsigned NOT NULL,
  `LOCALIZACAO` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`ID`),
  KEY `fk_LIVROS_AUTOR1_idx` (`AUTOR_ID`),
  CONSTRAINT `fk_LIVROS_AUTOR1` FOREIGN KEY (`AUTOR_ID`) REFERENCES `autor` (`ID`)
) ENGINE=InnoDB AUTO_INCREMENT=15 DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `livros`
--

LOCK TABLES `livros` WRITE;
/*!40000 ALTER TABLE `livros` DISABLE KEYS */;
/*!40000 ALTER TABLE `livros` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `usuarios`
--

DROP TABLE IF EXISTS `usuarios`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `usuarios` (
  `ID` int NOT NULL AUTO_INCREMENT,
  `NOME` varchar(255) NOT NULL,
  `CPF` char(11) NOT NULL,
  `IDADE` int NOT NULL,
  `RUA` varchar(100) NOT NULL,
  `BAIRRO` varchar(50) NOT NULL,
  `NUMERO` varchar(45) NOT NULL,
  `CIDADE` varchar(30) NOT NULL,
  PRIMARY KEY (`ID`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `usuarios`
--

LOCK TABLES `usuarios` WRITE;
/*!40000 ALTER TABLE `usuarios` DISABLE KEYS */;
INSERT INTO `usuarios` VALUES (1,'Guilherme Felix','22222222222',29,'RUA GEORGE WASHINGTON','GOLDEN VILLAGE','220','MONTES CLAROS'),(2,'Luanna Santos','22222222222',27,'RUA CARLOS PEREIRA','CENTRO','69','MONTES CLAROS'),(3,'Pedro Goncalves','23687544530',23,'RUA A','CENTRO','113','MONTES CLAROS'),(4,'Lucas Santos','22222222222',23,'Rua Paralela','Monte Carmelo','720','Montes Claros'),(5,'Lazaro Ramos','56589478123',17,'Rua Amarela','Eldorado','112','Montes Claros');
/*!40000 ALTER TABLE `usuarios` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2024-07-19 12:00:12
